td{
    width: 40px;
    height: 40px;
}


.navy{
                
    background-color: navy;
}

/*div{*/
    /*margin:auto;*/
    /*width:30px;*/
    /*height: 30px;*/
/*}*/
#hit{
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: red;
    
}

#miss{
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: white;
    color: white;
}